/*#mapid { height: 600px; }*/

html,
body,
.row {
/*    height: 100%;*/
/*    overflow: hidden;*/
    /*width: 100%;*/
    margin-top: 20px;
}

#mapid {
    width: 100%;
    position: inherit;
    height: 700px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 8px;
}

#container {
/*    height: 100%;*/
/*    overflow: hidden;*/
    /*width: 100%;*/
    margin-top: 20px;
}

.leaflet-routing-container-hide {display: none;}